<%= form_with model: product do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% product.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :price %><br>
      <%= form.number_field :price, step: 0.01 %>
      <% product.errors.full_messages_for(:price).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :image %><br>
      <%= form.file_field :image %>
      <% product.errors.full_messages_for(:image).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity %>
      <% product.errors.full_messages_for(:quantity).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>