<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "responsive", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>

  <body>
    <%= render  'layouts/header' %>
    <%= yield %>
    <%= render  'layouts/footer' %>
    <%= javascript_include_tag "jquery-3.2.1.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "popper.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "jquery.superslides.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "bootstrap-select", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "inewsticker", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "bootsnav", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "images-loded.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "isotope.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "owl.carousel.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "form-validator.min", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "contact-form-script", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "custom", "data-turbolinks-track" => true  %>
  </body>
</html>
